@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700&display=swap');

/* ------General------ */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ------headings------ */

.main-heading {
    font-family: "Oswald", sans-serif;
    font-size: 180px;
}

.welcome-heading {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}

.footer-headings {
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
}

.comics-heading {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}

.graphic-novels-heading {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}

.manga-heading {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}

/* ------main image------ */

.responsive {
  width: 100%;
  height: auto;
}

/* ------welcome paragraph------ */

.welcome-intro {
    text-align: center;
    font-size: 16px;
}


/* ------slide show gallery------ */


/* ------footer------ */

footer {
  bottom: 0;
  background-color: #343a40;
  color: rgb(209, 205, 205);
  width: 100%;
  position: bottom;
}

.contact-paragraph {
    text-align: center;
    font-size: 16px;
}

.copyright-paragraph {
    text-align: center;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 7px;
    padding-top: 20px;
    text-align: center;
    color: rgb(209, 205, 205);
}